<!doctype html>
<title>{% block title %}{% endblock %} - Swoops</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
<section>
    <div class="md:container md:mx-auto px-10"  >
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</section>